/* 修改图片圆角 */
img[src*="#img-radius"] {
    border-radius: 9px;
}
/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}
/* 文章页背景 */
.layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.3);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}

#aside-content .card-widget {
    background: var(--light_bg_color)
}
/* 双栏卡片主页文章*/
#recent-posts{
	margin-top:-1rem;  /*头部为空时抵消间隔，若有磁贴或日历请注释掉该行*/
	align-content:flex-start;
	display: flex;
    flex-wrap: wrap; /*规定灵活的项目在必要的时候拆行或拆列。*/
    justify-content: space-between; /*。*/
}
#recent-posts > .recent-post-item {
  /*max-height:324px;*/  /*文章容器最大高度*/
  margin-top: 1rem; /*最小间距*/
  display: inline-block;
  height:auto; /*高度自动*/
  width:49%;/*文章容器容器宽度*/
}
#recent-posts > .recent-post-item .post_cover {
  width: 100%; /*图片封面宽度*/
    height: 200px;/*图片封面高度*/
}
#recent-posts > .recent-post-item .post_cover img.post_bg {
  width: 100%;/*图片宽度*/
  height: 100%;/*图片高度*/
}


#recent-posts > .recent-post-item >.recent-post-info > .content {
display:none;/*隐藏文章详情*/
}
#recent-posts > .recent-post-item {

  -webkit-flex-direction: column; /*容器内部纵向排列*/
  -ms-flex-direction: column; /*容器内部纵向排列*/
  flex-direction: column; /*容器内部纵向排列*/

}
#recent-posts > .recent-post-item .left_radius {
    border-radius: 25px 25px 0 0;/*圆角修改*/
}
#recent-posts > .recent-post-item .right_radius {
    border-radius: 25px 25px 0 0;/*圆角修改*/
}
.recent-post-item{
	height:auto !important;/*容器高度自动*/
}

.recent-post-info {
  
  padding: 0 40px;/*容器内部文字左右间距*/
  margin-top: 1em;/*容器内部文字上间距*/
  width: 100%!important;/*容器宽度*/
}
#recent-posts > .recent-post-item > .recent-post-info > .article-title {
    -webkit-line-clamp: 1;/*控制标题的行数*/
    margin-top: 0.3rem; /*控制标题的上间距*/
	margin-bottom: 0.3rem;/*控制标题的下间距*/
    color: var(--text-highlight-color);
    font-size: 1.2em; /*控制标题的字体大小*/
    line-height: 1.4;/*控制标题的行高*/
 
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
	margin-bottom: 1rem;/*控制标题meta信息的底部间距*/
}
@media screen and (max-width: 768px) {
#recent-posts > .recent-post-item {
 width:100%;/*控制手机自适应*/
}
